.message-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 15px 10px 15px;

    &.right {
        justify-content: flex-end;
    }

    .message-main {
        display: flex;
        gap: 5px;
        max-width: 70%;

        &.right{
            flex-direction: row-reverse;
        }

        .message-profile-image-container {
            // width: 10%;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            // height: 100%;
            // border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: rgb(177, 127, 127);
            padding: 3px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .message {
            display: flex;
            background-color: rgb(244, 244, 244);
            color: rgb(0, 84, 97);
            padding: 10px 20px;
            flex-direction: column;
            border-radius: 0px 15px 15px 15px;

            &.right{
                border-radius: 15px 0px 15px 15px;
                background-color: rgb(1, 135, 144);
                color: rgb(255, 255, 255);
            }

            .message-head {
                font-weight: 500;
            }
        }
    }
}