.order-checkout-container {
    width: 100%;

    .order-checkout {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;

        .back-button-gig {
            font-size: 25px;
            margin: 20px 0px;
        }

        .title {
            font-size: 40px;
            padding: 30px 0px;
            padding-top: 10px;
        }

        .main-layout {
            width: 100%;
            display: flex;
            // background-color: aqua;

            .left-layout {
                width: 65%;
                // background-color: lightcoral;

                .section-1 {
                    width: 100%;
                    display: flex;
                    gap: 30px;

                    .gig-image {
                        width: 40%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 20px;
                        }
                    }

                    .gig-details {
                        width: 60%;
                        font-size: 23px;
                        // padding: 10px 0px;

                        .gig-title {
                            font-weight: 600;
                            padding-top: 0px;
                            padding-bottom: 17px;
                            font-size: 25px;
                        }

                        .gig-attr {
                            font-weight: 500;
                        }

                        ul {
                            list-style: none;

                            li {
                                padding-top: 10px;
                            }
                        }
                    }
                }

                .section-2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 30px 0px;
                    gap: 10px;

                    .buyer-req-label {
                        font-size: 27px;
                    }

                    textarea {
                        padding: 15px;
                        resize: vertical;
                        border-radius: 10px;
                        font-size: 17px;
                    }

                    textarea:focus {
                        outline: none;
                    }

                    .error-msg{
                        color: red;
                    }
                }
            }

            .right-layout {
                width: 35%;
                // background-color: lightgreen;
                display: flex;
                justify-content: center;
                justify-content: flex-end;
                align-items: flex-start;

                .order-summary {
                    width: 75%;
                    position: sticky;
                    top: 5.788rem;
                    border: 1px solid gray;
                    border-radius: 15px;
                    padding: 20px;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);

                    .order-summary-title {
                        font-size: 30px;
                        font-weight: 600;
                        padding: 10px 0px;
                    }

                    .order-details {
                        width: 100%;
                        border-top: 3px double black;
                        padding: 10px 0px;

                        table {
                            width: 100%;
                            font-size: 17px;

                            .gig-attr {
                                font-weight: 500;
                            }

                            tr:nth-child(5) {
                                font-size: 23px;
                                font-weight: 500;

                                td {
                                    padding: 10px 0px;
                                }
                            }
                        }
                    }

                    button {
                        width: 100%;
                        margin: 0 auto;
                        padding: 10px 20px;
                        border: none;
                        cursor: pointer;
                        background-color: rgb(13 110 110);
                        color: rgb(244, 244, 244);
                        transition: 0.5s all ease;
                        position: relative;
                        overflow: hidden;
                        font-size: 18px;
                        // font-weight: 600;
                    }

                    button::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -75%;
                        width: 50%;
                        height: 100%;
                        background: linear-gradient(120deg,
                                transparent,
                                rgba(255, 255, 255, 0.35),
                                transparent);
                        transform: skewX(-20deg);
                        animation: shine 8s infinite;

                        @keyframes shine {
                            0% {
                                left: -75%;
                            }

                            20% {
                                left: 125%;
                            }

                            100% {
                                left: 125%;
                            }
                        }
                    }

                    button:hover {
                        background-color: rgb(10 88 88);                        
                    }

                    // button:hover::before {
                    //     animation-timing-function: ease-in-out;
                    // }

                    .agreement-text {
                        color: gray;
                        font-size: 15px;
                        padding: 5px 0px;
                        cursor: default;
                        text-align: center;

                        u {
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
}