.login {
    width: 60%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 135, 144);
    padding: 20px 20px;

    h3 {
        text-align: center;
        font-size: 25px;
    }

    input{
        padding: 7px;
        border: none;
        margin-bottom: 5px;
        font-size: 15px;
    }
    input:focus{
        outline: none;
    }

    label{
        font-size: 18px;
        margin-bottom: 5px;
    }

    .desc{
        text-align: center;
        margin-top: 20px;

        span{
            color: lightcyan;
        }
    }

    .auth-button{
        margin: 0px 90px;
        margin-top: 15px;
        padding: 10px 20px;
        background-color: white;
        border: white;
        color: rgb(1, 135, 144);
        cursor: pointer;
    }

    .loading-state{
        background-color: rgba(255, 255, 255, 0.719);
        cursor: not-allowed;
    }

    .error{
        color: red;
        margin: 10px 0px;
    }

    .radio-buttons{
        margin: 10px 0px;
        label{
            margin-right: 20px;
        }
    }
}