.signup {
    width: 65%;
    max-width: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 77, 77, 0.15);
    padding: 15px 30px;
    color: #005461;

    .progress-bar {
        display: flex;
        gap: 10px;
        // margin-bottom: 2rem;
    }

    .progress-segment {
        height: 4px;
        flex: 1;
        background: #e2e8f0;
        border-radius: 2px;
    }

    .progress-segment.active {
        background: #008080;
        /* Your Teal */
    }

    .animate-left {
        animation: slideLeft 0.4s ease-out;
    }

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(20px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-right {
        animation: slideRight 0.4s ease-out;
    }

    @keyframes slideRight {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .animate-fade-in {
        animation: fadeIn 0.3s ease-in;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .step-container {
        display: flex;
        flex-direction: column;

        .prev-step-btn {
            background: none;
            border: none;
            font-size: 20px;
            padding: 10px 0px;
            cursor: pointer;
            color: #005461;

            &:hover {
                color: #017586;
            }
        }

        .role-grid {
            display: flex;
            gap: 12px;
            margin-top: 8px;
            margin-bottom: 10px;
        }

        .role-card {
            flex: 1;
            padding: 1rem;
            border: 2px solid #e2e8f0;
            border-radius: 12px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            transition: all 0.2s;

            &:hover {
                border-color: rgb(1, 221, 221);
                background: #f0fdfa;
                color: #01bebe;
            }
        }

        .role-card.active {
            border-color: #01cccc;
            background: #f0fdfa;
        }

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            padding-bottom: 8px;

            .input-icon {
                position: absolute;
                left: 12px;
                color: #94a3b8;
                pointer-events: none;
            }

            input {
                width: 100%;
                padding: 12px 12px 12px 40px;
                font-size: 18px;
                border-radius: 30px;
                border: 1px solid lightgray;
                transition: border-color 0.2s;
                outline: none;
            }

            input:focus {
                border-color: #018790;
            }

            select {
                width: 100%;
                padding: 12px 40px 12px 40px;
                font-size: 18px;
                border-radius: 30px;
                border: 1px solid lightgray;
                transition: border-color 0.2s;
                outline: none;
                cursor: pointer;

                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            select:focus {
                border-color: #018790;
            }

            .eye-icon {
                position: absolute;
                right: 12px;
                background: none;
                border: none;
                color: #94a3b8;
                cursor: pointer;
                display: flex;
                align-items: center;
            }

            .dropdown-icon {
                position: absolute;
                right: 12px;
                background: none;
                border: none;
                color: #94a3b8;
                cursor: pointer;
                display: flex;
                align-items: center;
                pointer-events: none;
            }
        }
    }

    h3 {
        font-size: 30px;
        padding: 5px 0px;
        text-align: center;
    }

    h4 {
        font-size: 20px;
        text-align: center;
        padding: 15px 0px;
    }

    .error-slot {
        min-height: 24px;
    }

    .error-text {
        color: #dc2626;
        padding: 15px 0px;
    }

    label {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .desc {
        text-align: center;
        margin-top: 12px;
        color: #005461;

        span {
            font-weight: 500;
            color: #018790;
        }
    }

    .auth-button {
        width: 100%;
        margin-top: 8px;
        padding: 10px 20px;
        background-color: rgb(1, 135, 144);
        border: white;
        border-radius: 30px;
        font-size: 17px;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: rgb(1, 111, 118);
        }
    }

    .loading-state {
        background-color: rgba(1, 135, 144, 0.719);
        cursor: not-allowed;
    }

    .chips-container {
        padding-bottom: 3px;
    }

    .chip {
        background-color: rgb(186, 186, 248);
        margin-right: 10px;
        font-size: 13px;
        margin-bottom: 5px;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 8px;
        cursor: pointer;
    }
}