.order-card {
    margin: 20px 20px;
    width: 100%;
    max-width: 750px;
    background-color: lightcyan;
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;

    .order-card-title {
        width: 100%;
        display: flex;
        height: 30%;
        padding-bottom: 10px;

        .order-card-title-preview {
            width: 100px;
            height: 80px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }

        .order-card-title-info-container {
            min-height: 80px;
            padding-left: 20px;
            font-weight: 600;
            width: calc(100% - 100px);

            .order-card-title-info {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                // align-items: center;
            }

            .order-card-title-info-gig-name {
                // height: 50%;
                font-size: 22px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 94%;
            }

            .username {
                font-size: 18px;
                color: rgb(83, 83, 83);
            }
        }
    }

    .order-card-info {
        width: 100%;
        padding: 15px 0px;
    }

    .action-bar {
        width: 100%;
    }
}