.order-card {
    // margin: 10px 20px;
    width: 100%;
    height: 160px;
    max-width: 1100px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 13px 18px;
    border-radius: 8px;
    display: flex;


    .order-card-img {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        // background-color: yellow;

        img {
            width: 180px;
            height: 110px;
            object-fit: cover;
            border-radius: 8px;
        }

        .no-img{
            width: 180px;
            height: 110px;
            object-fit: contain;
        }
    }


    .order-card-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;

        .order-card-title-info-container {
            min-height: 80px;
            padding-left: 20px;
            font-weight: 600;
            width: 490px;

            .order-card-title-info {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4px;
            }

            .order-id {
                font-size: 14px;
                color: lightslategray;

                .copy-id-button {
                    background-color: white;
                    border: none;
                    cursor: pointer;
                }
            }

            .order-card-title-info-gig-name {
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 450px;
                width: 100%;
            }

            .username {
                font-size: 18px;
                color: rgb(83, 83, 83);
            }

            .order-start-date {
                color: #005461;
            }
        }

        .order-price-and-status {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .price {
                color: #005461;
                font-size: 20px;
                font-weight: 800;
            }

            .order-status {
                background-color: lightgray;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3px 13px;
                border-radius: 20px;
                color: rgb(77, 76, 76);
                border: 1px solid transparent;
                text-transform: capitalize;
                cursor: default;
            }

            .completed {
                font-weight: 500;
                background-color: #E6F4F1;
                color: #018790;
                border: 1px solid #018790;
            }

            .requested {
                font-weight: 500;
                background-color: #FFF4E5;
                color: #B7791F;
                border-color: #B7791F;
            }

            .cancelled {
                font-weight: 500;
                background-color: #FEE2E2;
                color: #991B1B;
                // border-color: #FECACA;
                border: 1px solid #991B1B;
            }

            .active {
                font-weight: 500;
                background-color: #DCFCE7;
                color: #15803d;
                border-color: #15803d;

            }

            .active::before {
                content: "";
                width: 6px;
                height: 6px;
                background-color: #22c55e;
                border-radius: 50%;
                margin-right: 8px;
                animation: blink 1.5s infinite;
            }

            @keyframes blink {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.4;
                }

                100% {
                    opacity: 1;
                }
            }

            .declined {
                font-weight: 500;
                background-color: #F4F4F4;
                color: #5F6368;
                border: 1px solid #D1D1D1;
                opacity: 0.8;
            }

            .delivered {
                font-weight: 500;
                background-color: #E0F2FE;
                color: #0369A1;
                border-color: #0369A1;
            }

            .req-cancel {
                font-weight: 500;
                background-color: #FEF2F2;
                color: #DC2626;
                border-color: #DC2626;
            }

            .revision {
                font-weight: 500;
                background-color: #F5F3FF;
                color: #5B21B6;
                border-color: #5B21B6;
            }
        }

        .order-due {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .due {
                color: #018790;
                font-size: 23px;
                text-align: center;
            }

            .due-label {
                color: #005461;
                font-size: 17px;
            }

            &.overdue {

                .due,
                .due-label {
                    color: #C53030;
                }
            }

            &.warning {

                .due,
                .due-label {
                    color: #B7791F;
                }
            }
        }

        .action-bar {
            height: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            // background-color: burlywood;
            align-items: center;

            button {
                background-color: white;
                color: #005461;
                border-radius: 20px;
                border: 2px solid #005461;
                font-size: 15px;
                cursor: pointer;
                padding: 8px 15px;
                font-weight: 600;
                transition: all 0.3s ease;
            }

            button:hover {
                background-color: #005461;
                /* Darkest brand color */
                color: #FFFFFF;
                /* Smooth transition */
            }
        }
    }
}