.profile-container {
    width: 100%;

    .profile-title-container {
        width: 100%;
        background-color: aqua;
        
        .profile-title {
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            font-size: 40px;
            padding: 25px 0px;
        }
    }

    .profile-contents-container {
        width: 100%;
        background-color: lightgreen;

        .profile-contents{
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            background-color: lightcyan;
            display: flex;
            
            .profile-info {
                width: 70%;
                background-color: lightsalmon;
                padding: 30px 60px;
                font-size: 25px;
                
                .profile-attr {
                    font-weight: 600;
                    color: rgb(58, 58, 58);
                }
                
                table{
                    width: 30%;

                    td{
                        padding: 17px;
                    }
                }
            }

            .profile-photo{
                width: 30%;
                // background-color: lightcoral;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                
                .photo{
                    width: 180px;
                    height: 180px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .profile-star-rating{
                    display: flex;
                    gap: 5px;
                }
            }
        }
    }
}