.header {
    width: 100%;

    .header-container {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 30px 0px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .my-gigs-title {
            font-size: 40px;
            font-weight: 500;
            color: #005461;
        }

        .add-gig-button {
            background-color: rgb(1, 135, 144);
            color: white;
            border: none;
            padding: 10px 15px;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
        }

        .add-gig-button:hover {
            background-color: rgb(0, 183, 181);
        }
    }

}

.my-gigs-loading {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // background-color: aqua;
}

.gigs-table {
    width: 100%;

    .gigs-table-container {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 20px 0px;
        padding-bottom: 100px;

        .my-gigs-empty-text {
            text-align: center;
            padding: 60px 20px;

            h2 {
                margin-top: 16px;
                font-size: 22px;
                font-weight: 600;
            }

            p {
                margin-top: 8px;
                color: #6b7280;
            }

            .create-first-gig-btn {
                display: inline-block;
                margin-top: 20px;
                padding: 10px 18px;
                background: #018790;
                color: white;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
            }
        }

        table {
            width: 83%;
            text-align: center;
            border-collapse: collapse;

            th,
            td {
                border: 1px solid;
                text-align: center;
                padding-left: 15px;
                border: none;
                border-bottom: 1px solid lightgray;

            }

            th {
                padding: 10px 0px;
                color: gray;
            }

            td {
                padding: 20px 0px;
            }

            // GIG COVER IMAGE
            td:nth-child(1) {
                width: 11%;

                .gig-img {
                    width: 70%;
                    height: 50px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }
            }

            // GIG TITLE
            td:nth-child(2) {
                width: 39%;
                text-align: center;
                padding-left: 5px;

                max-width: 150px;
                text-align: start;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            // PRICE
            td:nth-child(3) {
                width: 10%;
            }

            // ORDERS
            td:nth-child(4) {
                width: 7%;
            }

            // GIG STATUS
            td:nth-child(5) {
                width: 10%;

                .p {
                    color: green;
                }

                .np {
                    color: red;
                }
            }

            // EDIT GIG
            td:nth-child(6) {
                width: 6%;
                cursor: pointer;
            }

            // ACTION BUTTONS
            td:nth-child(7) {
                vertical-align: middle;
                width: 17%;

                button {
                    padding: 10px 15px;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                }

                .gig-state-button {
                    color: white;
                    margin-right: 15px;
                }

                .draft {
                    background-color: darkgreen;
                }

                .draft:hover {
                    background-color: rgb(1, 143, 1);
                }

                .published {
                    background-color: grey;
                }

                .published:hover {
                    background-color: rgb(177, 175, 175);
                }

                .delete-button {
                    background-color: red;
                    color: white;
                }

                .delete-button:hover {
                    background-color: rgb(250, 102, 102);
                }
            }
        }
    }
}