.flyer {
    width: 100%;
    height: 81.61vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    // background-image: url('/pixel_bg.gif');
    // background-size: cover;
    // background-position: center;
    position: relative;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
    }

    .container {
        width: 1300px;
        max-width: 100%;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        z-index: 2;

        .text {
            color: white;
            font-size: 1.563rem;
            position: absolute;
            z-index: 2;

            span {
                color: rgb(0, 183, 181);
            }
        }

    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

// .slider{
//     z-index: 0;
//     background-color: rgba(255,255,255,1);
// }
.container2 {
    width: 100%;
    // background-color: rgba(236, 236, 236,1);
    height: auto;
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;

    .features-title-container {
        width: 100%;

        .features-title {
            width: 1300px;
            margin: 0 auto;
            font-size: 45px;
            padding: 10px 0px;
            color: #018790;
        }
    }

    .features {
        background-image: linear-gradient(rgb(0, 84, 97), white);
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 2.5rem;
        padding: 2.5rem;
        border-radius: 0px 40px 0px 0px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .f1,
        .f2,
        .f3,
        .f4 {
            box-shadow: 5px 10px 8px lightgray;
            background-color: rgb(0, 183, 181);
            // border: 1px solid gray;
            padding: 1.25rem;
            border-radius: 10px;
            color: #005461;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title {
                font-weight: 800;
                margin-bottom: 0.625rem;
            }

            .desc {
                text-align: center;
            }

            img {
                margin-bottom: 0.625rem;
                width: 100px;
                height: 100px;
            }
        }

        .f1,
        .f2 {
            box-shadow: none;
        }
    }
}

.container3 {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .features-title-container {
        width: 100%;

        .features-title {
            width: 1300px;
            margin: 0 auto;
            font-size: 45px;
            padding: 10px 0px;
            color: #018790;
        }
    }

    .sub-container {
        background-image: linear-gradient(rgb(1, 135, 144), white);
        // background-color: rgb(1, 135, 144);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1300px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 0px 40px 0px 0px;

        .c {
            width: 100%;
            height: 100%;
            padding: 40px 0px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;

            // background-color: lightgreen;
            @media (max-width: 768px) {
                flex-direction: column;
            }

            .step {
                background-color: lightblue;
                // border: 1px solid black;
                border-radius: 10px;
                width: 300px;
                height: 370px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: 0.625rem;
                color: #005461;


                .title {
                    font-weight: 500;
                    font-size: 25px;
                }

                .desc {
                    font-weight: 450;
                }

                img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 0.625rem;
                }
            }
        }
    }
}