.flyer{
    width: 100%;
    height: 81.61vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    .container{
        width: 100%;
        background-image: url('/pixel_bg.gif');
        background-size: cover;
        background-position: center;
        background-color: red;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 2.5rem;
        
        .text{
            color: white;
            font-size: 1.563rem;
            position: relative;
            // z-index: 1;
            span{
                color: greenyellow;
            }
        }
        
        // &::after{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: rgba(0,0,0,0.4);
        // }
    }
}
.container2{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
    height: auto;
    display: flex;
    
    .features{
        background-image: linear-gradient(gray,white);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        gap: 2.5rem;
        padding: 2.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .f1,.f2,.f3,.f4{
            box-shadow: 5px 10px 8px lightgray;
            background-color: yellowgreen;
            // border: 1px solid gray;
            padding: 1.25rem;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title{
                font-weight: 800;
                margin-bottom: 0.625rem;
            }
            .desc{
                text-align: center;
            }
            
            img{
                margin-bottom: 0.625rem;
                width: 100px;
                height: 100px;
            }
        }
    }
}

.container3{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(137, 192, 167);
    height: auto;
    display: flex;

    .sub-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .c1{
            width: 100%;
            height: 120px;
            font-size: 1.875rem;
            background-color: lightcoral;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-style: italic;
        }

        .c2{
            width: 100%;
            height: 100%;
            padding: 0.625rem;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            // background-color: lightgreen;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            
            .step{
                background-color: lightblue;
                border: 1px solid black;
                border-radius: 10px;
                width: 300px;
                height: 370px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: 0.625rem;


                .title{
                    font-weight: 500;
                    font-size: 25px;
                }

                .desc{
                    font-weight: 450;
                }

                img{
                    width: 100px;
                    height: 100px;
                    margin-bottom: 0.625rem;
                }
            }
        }
    }
}