.gig{
    width: 100%;
    
    .breadcrump {
        width: 100%;
        
        // background-color: lightgreen;
        .breadcrump-container {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            font-size: 30px;
            padding: 20px 0px;
            
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    .gig-container{
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: flex-start;
        gap: 5%;

        .title{
            font-size: 25px;
            font-weight: 600;
            padding: 10px 0px;
        }

        .gig-left{
            width: 55%;
            // background-color: lightgreen;

            .gig-title{
                margin: 20px 0px;
            }

            .seller-details{
                display: flex;
                flex-direction: row;

                .seller-profile-pic{
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid white;
                    border-radius: 50%;
                    font-size: 50px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .seller-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 10px;

                    .seller-name{
                        color: rgb(70, 69, 69);
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }

            .gig-media{
                width: 100%;
                height: 600px;
                margin-top: 50px;
                margin-bottom: 30px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .gig-display{                    
                    height: 80%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    
                    img{
                        width: 90%;
                        height: 400px;
                    }
                    video{
                        width: 90%;
                        height: 400px;
                    }
                }
                .gig-thumbnails-container{
                    height: 20%;
                    width: 100%;
                    margin-top: 5px;
                    overflow-x: auto;
                    background-color: aqua;
                    display: flex;
                    flex-direction: row;
                    
                    .gig-thumbnail{
                        flex-shrink: 0;
                        background-color: lightblue;
                        height: 100%;
                        min-width: 160px;
                        max-width: 160px;
                        overflow: hidden;
                        cursor: pointer;
                        position: relative;

                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                        video{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            pointer-events: none;

                        }
                        span{
                            position: absolute;
                            font-size: 35px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: white;
                        }
                    }
                }
            }

            .about-gig{
                width: 100%;                
            }

            .title{
                padding: 25px 0px;
            }

            .reviews{
                width: 100%;
                display: flex;
                flex-direction: column;

                .reviews-empty-div{
                    width: 100%;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                }

                .r{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid gray;
                    border-radius: 15px;
                    padding: 10px;
                    margin-bottom: 50px;

                    hr{
                        border: 1px solid gray;
                    }

                    .header{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        
                        .profile{
                            font-size: 40px;
                            padding-right: 10px;
                        }
                        
                        .customer-info{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: 20px;
                        }
                    }

                    .customer-review{
                        margin-top: 10px;
                    }

                    .other-details{
                        width: 100%;
                        display: flex;
                        flex-direction: row;

                        .gd1{
                            width: 50%;
                            text-align: center;
                            padding-top: 10px;

                            .d1{
                                font-size: 20px;
                                font-weight: 600;
                                
                            }
                            .d2{
                                color: gray;
                            }
                        }
                        // .gd1::after{
                        //     content: "";
                        //     position: absolute;
                        //     right: 0;
                        //     top: 25%;
                        //     height: 50%;
                        //     width: 1px;
                        //     background: gray;
                        // }

                        .gd2{
                            width: 50%;
                            text-align: center;
                            padding-top: 10px;

                            .d1{
                                font-size: 20px;
                                font-weight: 600;
                                
                            }
                            .d2{
                                color: gray;
                            }
                        }
                    }
                }
            }
        }

        .gig-right{
            width: 40%;
            display: flex;
            justify-content: center;
            flex: 1;
            position: sticky;
            top: 1.688rem;

            hr{
                border: 1px solid rgb(189, 188, 188);
            }

            .gig-info{
                width: 80%;
                padding: 15px;
                border: 2px solid gray;
                border-radius: 15px;
                
                .gig-price{
                    width: 100%;
                    font-size: 30px;
                    font-weight: 600;
                    padding: 5px 0px;
                }

                .gig-desc{
                    width: 100%;
                    padding: 5px 0px;
                }

                .main-attr{
                    width: 100%;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 5px 0px;
                }

                .gig-features{
                    width: 100%;
                    padding: 10px 0px;

                    .heading{
                        font-size: 20px;
                        font-weight: 500;
                        padding: 5px 0px;
                    }

                    .features{
                        padding-left: 20px;
                        font-style: italic;
                        padding-top: 10px;
                        font-size: 17px;
                    }
                }

                .buy-gig-btn-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 10px 0px;
                    .buy-gig-btn{
                        width: 90%;
                        min-width: 300px;
                        padding: 10px 0px;
                        background-color: black;
                        color: white;
                        cursor: pointer;
                    }
                    .buy-gig-btn:hover{
                        background-color: rgb(36, 36, 36);
                    }
                }

                .contact-seller-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 10px 10px;
                    text-align: center;
                    font-style: italic;
                    cursor: default;

                    .contact-seller-text{
                        color: purple;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}