.create-gig-container{
    width: 100%;

    .create-gig{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;

        .main-heading{
            font-size: 40px;
            padding: 30px 0px;
            font-weight: 500;
            color: #005461;
        }

        .error-msg{
            color: red;
            text-align: center;
            font-size: 20px;
        }

        .sub-heading{
            font-size: 30px;
            padding-left: 60px;
            padding-bottom: 5px;
            border-bottom: 1px solid black;
        }
        
        .phase-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .label-item{
                font-size: 20px;
                margin-right: 20px;
            }

            input{
                width: 100%;
                padding: 8px;
                font-size: 15px;
            }
            input:focus{
                outline: none;
            }

            select{
                padding: 8px;
                font-size: 15px;
            }
            select:focus{
                outline: none;
            }
            
            table{
                width: 60%;
                margin: auto;
            }

            table td{
                width: 50%;
                padding: 10px 0px;
            }
            
            table tr td:first-child{
                padding-left: 150px;
            }

            textarea:focus{
                outline: none;
            }

            .desc{
                resize: vertical;
                font-size: 15px;
                width: 100%;
                min-height: 200px;
                padding: 8px;
                white-space: pre-line;
            }

            .tag-pill{
                background-color: rgb(186, 186, 248);
                margin-right: 10px;
                margin-bottom: 5px;
                padding: 5px 10px;
                display: inline-block;
                border-radius: 8px;
                cursor: pointer;
            }

            .gig-draft-btn{
                padding: 6px 15px;
                border: none;
                border: none;
                border-radius: 5px;
                background-color: gray;
                color: white;
                margin-right: 10px;
                cursor: pointer;
            }
            .gig-publish-btn{
                padding: 6px 15px;
                border: none;
                border: none;
                border-radius: 5px;
                background-color: rgb(1, 135, 144);
                color: white;
                cursor: pointer;
            }

            .file-preview-container{
                
                .file-preview{
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    
                    gap: 10px;
                    padding: 8px;

                    .file{
                        background-color: rgb(196, 196, 196);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 10px;
                    }
                    img{
                        width: 70px;
                        height: 70px;
                        border-radius: 12% 0% 0% 12%;
                    }

                    button{
                        padding: 20px;
                        background: none;
                        border: none;
                        cursor: pointer;
                    }

                    .video_icon{
                        width: 70px;
                        height: 70px;
                        margin-left: 20px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .last{
            padding-bottom: 80px;
        }
    }
}