.catg-card{
    position: relative;
    height: 350px;
    width: 100%;
    border-radius: 5px;
    background: lightblue;
    padding: 5px;
    cursor: pointer;
    color: white;

    img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

    .title{
        position: absolute;
        top: 35px;
        left: 35px;
        font-size: 35px;
        font-weight: 500;
    }

    .desc{
        position: absolute;
        top: 80px;
        left: 35px;
        font-size: 25px;
        font-weight: 300;
    }
    
}