.gig-showcase-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 40px;
  // background: aqua;
}

.gig-showcase-title-container{
  width: 100%;

  .gig-showcase-title{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 600;
    padding: 10px 0px;
  }
}

.gig-card-showcase {
  max-width: 1300px;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4x 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px 40px 0px 0px;
}

.gig-showcase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 40px 0px 0px;
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px 40px 0px 0px;
  }
}

.gig-showcase::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 40px 0px 0px;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
}


.gig-card-details-overlay {
  position: absolute;
  bottom: 120px;
  left: 20px;
  width: 100%;
  // background: rgba(0,0,0,0.6);
  color: white;
  text-align: left;
  padding: 25px;
  z-index: 10;
}

.gig-card-overlay h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.gig-card-overlay p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.gig-pricing {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: gold;
}