.slider{
    display: flex;
    justify-content: center;

    .container{
        width: 1300px;
        padding: 10px 0px;

        .carousel-track{
            padding: 0 10px;
            box-sizing: border-box;
        }

        .carousel-prev,.carousel-next{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: rgb(206, 205, 205);
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}