.slider-container {
    width: 100%;
    margin-bottom: 40px;

    .slider {
        width: 1300px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

.slick-prev,
.slick-next{
    z-index: 5;
    width: 40px;
    height: 40px;
}

.slick-prev{
    left: 5px;
}
.slick-next{
    right: 25px;
}

.slick-prev:before,
.slick-next::before{
    font-size: 60px;
}

.slick-slide{
    line-height: 0;
}

.slider-gig-card{
    position: relative;
    line-height: normal;
    cursor: pointer;
    overflow: hidden;
    
    .gig-card-img{
        width: 100%;
        aspect-ratio: 9/14;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: center;
            transition: transform 0.3s ease;
        }
        &:hover img{
            transform: scale(1.05);
        }

        &::after{
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 90%);
            z-index: 1;
        }
    }
    
    .gig-card-title{
        position: absolute;
        top: 40px;
        left: 30px;
        right: 30px;
        font-weight: 600;
        font-size: 30px;
        color: white;
        z-index: 2;
    }

}