.chat-window {
    flex: 7.5;
    display: flex;
    flex-direction: column;

    .conversation-header {
        height: 9%;
        display: flex;
        justify-content: center;
        // background-color: rgb(1, 135, 144);

        .conversation-profile-container {
            width: 100%;
            height: 100%;
            padding: 20px 15px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            background-color: rgb(1, 135, 144);

            .conv-profile {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 13px;

                .conv-profile-main {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .profile-username {
                    color: rgb(244, 244, 244);
                    font-size: 20px;
                }
            }

            button {
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 10px;
                border-radius: 10px;
                gap: 10px;
                cursor: pointer;
            }

            button:hover {
                color: rgb(0, 183, 181);
            }
        }
    }

    .messages-list {
        flex: 1;
        background-color: rgb(157, 204, 206);
        overflow-y: auto;
        position: relative;
    }


    .no-chat-selected-text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: rgb(51, 51, 51);
        color: #F4F4F4;
        background-color: rgb(1, 135, 144);
    }

    .input-box {
        height: 60px;
        // background-color: lightpink;
        display: flex;
        flex-direction: row;

        input {
            flex: 1;
            padding: 15px;
            font-size: 16px;
            border: none;
        }

        input:focus {
            outline: none;
        }

        button {
            padding: 10px 30px;
            border: none;
            background-color: rgb(1, 135, 144);
            color: white;
            cursor: pointer;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:hover {
            color: rgb(0, 84, 97);
        }
    }
}