.navbar {
    display: flex;
    justify-content: center;
    z-index: 1000;
    flex-shrink: 0;
    height: 70px;
    // background-color: rgb(244, 244, 244);

    /////////////////// ROUND DESIGN /////////////////////////
    // margin: 0 auto;
    // width: 1300px;
    // padding: 0px 20px;
    // border-radius: 40px;

    background: rgba(255, 255, 255, 0.17);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s all ease;
    // background-color: black;
    position: sticky;
    top: 0;

    .icon {
        color: rgb(0, 183, 181);
        transition: all 0.5s ease;
    }

    &.active {
        color: rgb(0, 183, 181);

        .titles .link {
            color: gray;
        }

        .icon {
            color: rgb(244, 244, 244);
        }
    }


    .container {
        /* From https://css.glass */

        width: 100%;
        max-width: 1300px;
        padding: 13px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .website-name {
            display: flex;
            justify-content: center;

            .text {
                font-weight: 600;
                font-size: 1.875rem;
            }
        }

        .titles {
            display: flex;
            gap: 3.75rem;
            font-size: 20px;
        }

        .auth {
            display: flex;
            gap: 0.625rem;

            .a {
                border: 1px solid gray;
                padding: 5px 10px;
            }

            .auth-after {
                color: rgb(1, 135, 144);
                position: relative;
                display: flex;
                gap: 8px;

                .dropdown-menu {
                    position: absolute;
                    top: 28px;
                    right: 0;
                    display: flex;
                    color: black;
                    justify-content: center;
                    flex-direction: column;
                    border: 1px solid gray;
                    width: 150px;
                    border-radius: 10px;
                    background-color: rgb(233, 231, 231);

                    .dropdown-item {
                        padding: 5px 10px;
                    }

                    .dropdown-item-button {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

// .navbar-sticky {
//     position: sticky;
//     top: 0;
// }

// .navbar-default {
//     position: static;
// }

// .navbar-active {
//         color: rgb(0, 183, 181);

//         .icon {
//             color: rgb(244, 244, 244);
//         }
//     }