.navbar {
    display: flex;
    justify-content: center;
    z-index: 1000;
    flex-shrink: 0;
    height: 70px;


    /////////////////// ROUND DESIGN /////////////////////////
    // margin: 0 auto;
    // width: 1300px;
    // padding: 0px 20px;
    // border-radius: 40px;

    color: rgb(0, 84, 97);
    // font-weight: 700;
    background: rgba(255, 255, 255, 0.17);
    // background: rgba(0, 0, 0, 0.17);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s all ease;
    // color: white;
    // background-color: black;
    position: sticky;
    top: 0;

    .icon {
        color: rgb(0, 183, 181);
        transition: all 0.5s ease;
    }

    &.active {
        color: rgb(0, 183, 181);

        .website-name .text-half{
            transition: all 0.5s ease;
            color: rgb(244, 244, 244) !important;
        }

        .titles .link {
            transition: all 0.5s ease;
            color: rgb(0, 183, 181);
        }

        .username {
            transition: all 0.5s ease;
            color: rgb(244, 244, 244);
        }

        .cat-btn {
            transition: all 0.5s ease;
            color: rgb(0, 183, 181);
            cursor: pointer;
        }

        .icon {
            color: rgb(244, 244, 244);
        }
    }


    .container {
        width: 100%;
        max-width: 1300px;
        padding: 13px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .website-name {
            display: flex;
            justify-content: center;

            .text {
                font-weight: 600;
                font-size: 1.875rem;
            }

            .text-half{
                font-weight: 600;
                font-size: 1.875rem;
                color: rgb(0, 183, 181);
            }
        }

        .titles {
            display: flex;
            gap: 3.75rem;
            font-size: 20px;

            .cat-btn {
                cursor: pointer;
            }
        }

        .auth {
            display: flex;
            gap: 0.625rem;

            .auth-btns {
                .login-btn {
                    padding: 8px 13px;
                    border: 1px solid rgb(1, 135, 144);
                    border-right: none;
                    background-color: transparent;
                    color: rgb(1, 135, 144);
                    border-radius: 5px 0px 0px 5px;
                }

                .signup-btn {
                    padding: 8px 13px;
                    border: 1px solid rgb(1, 135, 144);
                    background-color: rgb(1, 135, 144);
                    border-left: none;
                    color: white;
                    border-radius: 0px 5px 5px 0px;
                }
            }

            .auth-after {
                color: rgb(1, 135, 144);
                position: relative;
                display: flex;
                gap: 8px;

                .user-profile {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .user-img {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                            // border: 3px solid rgba(0, 84, 97, 0.4);
                            border: 2px solid #00B7B5;
                            // border: 3px solid rgb(0, 84, 97);
                        }
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 40px;
                    right: 0;
                    display: flex;
                    background-color: rgb(244, 244, 244);
                    color: rgb(0, 84, 97);
                    justify-content: center;
                    flex-direction: column;
                    width: 150px;
                    border-radius: 10px;
                    background-color: rgb(244, 244, 244);
                    box-shadow:
                        /* The main depth shadow */
                        0 8px 30px rgba(0, 0, 0, 0.25),
                        /* A subtle shadow for closer lift */
                        0 0 0 1px rgba(0, 0, 0, 0.05);
                    /* Very faint outline */

                    .dropdown-item-button {
                        padding: 6px 20px;
                        border: none;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 10px;
                        justify-content: flex-start;
                    }
                }

            }
        }
    }
}

// .navbar-sticky {
//     position: sticky;
//     top: 0;
// }

// .navbar-default {
//     position: static;
// }

// .navbar-active {
//         color: rgb(0, 183, 181);

//         .icon {
//             color: rgb(244, 244, 244);
//         }
//     }