.app-layout{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content-align{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}