:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.link{
  text-decoration: none;
  color: inherit;
}

body, #root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content{
  flex: 1;
}
