.chat-app{
    width: 100%;
    height: calc(100vh - 70px);
    // flex: 1;

    .messages-website-title{
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 30px 0px;
        display: flex;
        align-items: center;

        span{
            font-size: 40px;
        }
    }

    .chat-app-container{
        width: 100%;
        max-width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        background-color: rgb(243, 148, 148);

        .chats-container{
            flex: 2.5;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgb(73, 73, 73);
            display: flex;
            flex-direction: column;
            padding: 10px;

            .search-bar{
                width: 100%;
                padding-bottom: 10px;

                input{
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    border: none;
                }
            }

            .chat-list{
                width: 100%;
                height: 100%;

                .chat{
                    width: 100%;
                    display: flex;
                    background-color: rgb(36, 196, 134);
                    padding: 8px 0px;
                    border-radius: 10px;
                    margin-bottom: 5px;

                    .chat-profile-photo{
                        width: 25%;
                        // background-color: pink;
                        display: flex;
                        justify-content: center;
                        
                        .chat-profile-photo-container{
                            width: 48px;
                            height: 48px;
                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .chat-info{
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        .chat-name{
                            height: 50%;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                        }
                        .chat-last-message{
                            height: 50%;
                        }
                    }
                }
            }
        }

        .chat-window{
            flex: 7.5;
            display: flex;
            flex-direction: column;

            .messages-list{
                flex: 1;
                background-color: rgb(180, 180, 180);
                overflow-y: auto;
            }

            .input-box{
                height: 60px;
                background-color: lightpink;
                display: flex;
                flex-direction: row;

                input{
                    flex: 1;
                }

                button{
                    padding: 10px 20px;
                }
            }
        }
    }
}