.chat-app {
    width: 100%;
    height: calc(100vh - 70px);
    // flex: 1;

    .messages-website-title {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 30px 0px;
        display: flex;
        align-items: center;

        span {
            font-size: 40px;
        }
    }

    .chat-app-container {
        width: 100%;
        max-width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .chats-container {
            flex: 2.5;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: rgb(0, 84, 97);
            display: flex;
            flex-direction: column;
            padding: 10px;

            .chats-title {
                font-size: 35px;
                color: rgb(244, 244, 244);
                padding: 15px 0px;
            }

            .search-bar {
                width: 100%;
                padding-bottom: 10px;

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    border: none;
                }
            }

            .chat-list {
                width: 100%;
                height: 100%;

                .chat-list-empty {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: lightgray;
                    font-size: 40px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-style: italic;

                    .chat-list-empty-gif {
                        width: 250px;
                        height: 250px;
                    }
                }

                .chat {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background-color: rgb(0, 183, 181);
                    padding: 8px 0px;
                    border-radius: 10px;
                    margin-bottom: 5px;
                    cursor: pointer;

                    .chat-profile-photo {
                        width: 23%;
                        // background-color: pink;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .chat-profile-photo-container {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }

                    }

                    .chat-info {
                        width: 77%;
                        display: flex;
                        flex-direction: column;

                        .chat-name {
                            height: 40%;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-weight: 500;

                            .last-msg-sent {
                                color: gray;
                                font-size: 14px;
                                font-weight: initial;
                                padding-right: 10px;
                            }
                        }

                        .chat-last-message {
                            height: 60%;
                            color: rgb(87, 87, 87);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 94%;
                        }
                    }

                }
            }
        }

        .chat-window {
            flex: 7.5;
            display: flex;
            flex-direction: column;

            .conversation-header {
                height: 7%;
                display: flex;
                justify-content: center;
                // background-color: rgb(1, 135, 144);

                .conversation-profile-container {
                    width: 100%;
                    height: 100%;
                    padding: 10px 15px;
                    display: flex;
                    // justify-content: space-between;
                    background-color: rgb(1, 135, 144);

                    .conv-profile {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        gap: 13px;


                        .conv-profile-main {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }

                        .profile-username {
                            color: rgb(244, 244, 244);
                            font-size: 20px;
                        }
                    }

                    button {
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 7px 20px;
                        border-radius: 10px;
                        gap: 10px;
                        cursor: pointer;
                    }

                    button:hover {
                        color: rgb(0, 183, 181);
                    }
                }
            }

            .messages-list {
                flex: 1;
                background-color: rgb(157, 204, 206);
                overflow-y: auto;
                position: relative;
            }


            .no-chat-selected-text {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                background-color: rgb(1, 135, 144);
                color: rgb(51, 51, 51);
            }

            .input-box {
                height: 60px;
                // background-color: lightpink;
                display: flex;
                flex-direction: row;

                input {
                    flex: 1;
                    padding: 15px;
                    font-size: 16px;
                    border: none;
                }

                input:focus {
                    outline: none;
                }

                button {
                    padding: 10px 30px;
                    border: none;
                    background-color: rgb(1, 135, 144);
                    color: white;
                    cursor: pointer;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                button:hover {
                    color: rgb(0, 84, 97);
                }
            }
        }
    }
}