.orders-container {
    width: 100%;
    height: calc(100vh - 70px);
    flex: 1;
    display: flex;
    background-color: rgb(244, 244, 244);

    .orders {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;

        .orders-page-title {
            font-weight: 500;
            font-size: 40px;
            padding: 30px 0px;
            color: #005461;
            flex-shrink: 0;
        }

        .orders-empty-text{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 35px;
        }

        .order-list {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            gap: 10px;
            padding-bottom: 20px;
        }
    }
}