.gig-card {
    width: 100%;
    max-width: 300px;
    height: 100%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.188rem;

    .image-box {
        height: 180px;
        // background-color: greenyellow;
        position: relative;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .heart-icon {
            position: absolute;
            width: 40px;
            height: 40px;
            padding: 10px;
            top: 0px;
            left: 0px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .details {

        // padding: 5px;
        a {
            text-decoration: none;
            color: inherit;
        }

        .seller-name {
            padding: 0.453rem 0rem;
            font-size: 18px;
            font-weight: 700;

            .profile-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                gap: 8px;
                // justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .default-icon {
                font-size: 26px;
            }
        }

        .gig-desc {
            color: rgb(85, 85, 85);
            min-height: 40px;
        }

        .gig-desc:hover {
            text-decoration: underline;
        }

        .gig-rating {
            padding: 0.438rem 0rem;
        }

        .gig-price {
            font-weight: 700;
            font-style: italic;
        }
    }
}